---
title: "The Female Fox: A Fragment from a Pu Songlling's Studio"
author: Yuan Changming
previous: /issues/volume-two/volume-2-issue-2/short-poem-written-at-cafe-noir-early-morning/
next: /issues/volume-two/volume-2-issue-2/evolution-towards-dataism/
---

{% include sqs-poem-begin.html %}
There is a fairytale told, and retold again during China’s Ming Dynasty, about a
coquettish fox that takes on the shape of a beautiful young woman, ready to offer herself
to a poor obscure guy. Like a magician she brings rich food and wine to him during the
day, and uses her two mouths to suck up all his <em>yuanqi</em> (energy or masculinity) at night
until he dies in ecstasy of sexual love. Then, the immortal woman would marry another
from among those hungry boys who keep dreaming about becoming that young lucky
guy. I enjoy thinking of that fox like a deformed soul wearing a human mask with hair
behind, which makes it feel itchy while all men are waiting, in anxiety.
{% include sqs-poem-end.html %}
