---
title: Evolution Towards Dataism
author: Yuan Changming
previous: /issues/volume-two/volume-2-issue-2/the-female-fox-a-fragment-from-a-pu-songllings-studio/
next: /issues/volume-two/volume-2-issue-2/oriental-oracles-2-east-idioms-reinterpreted/
---

{% include sqs-poem-begin.html %}
More advanced in evolution than their human masters are chickens as they
outnumber the stars in the whole universe, and occupy every corner of the
entire planet, but as in-dividuals, no chicken can fly higher than a
low fence, make love within its confinement or live together
with its children. The only thing they do besides laying eggs and growing
meat is standing there, day and night, as if meditating about the meaning of
evolution:

It took hundreds... of thousands ...of years for ...homo erectus to evolve ...into sapiens
and longer ...for chimpanzees to ...erectus, but ...engineering ourselves ...by way of
biochemistry... cyborg and... AI, we are upgrading ...ourselves into... godlings – all it
takes... will be just half a century ...where science beats gods ...and devils, saints and
ghosts alike... at only ...a fraction of second, when a whim ...pops up for a human ...to
go back ...to a wild animal, again...

Now given each organism as a biochemical algorithm, your life is a programed
process proving your consciousness is actually far less valuable
than a fucking Frankenstein’s AI
{% include sqs-poem-end.html %}
