---
title: Short Poem Written at Cafe Noir, Early Morning
author: Taylor Gray Moore
previous: /issues/volume-two/volume-2-issue-2/to-court-unreality/
next: /issues/volume-two/volume-2-issue-2/the-female-fox-a-fragment-from-a-pu-songllings-studio/
---

{% include sqs-poem-begin.html %}
I see the night world outside
the window over the ending
of my coffee and my open notebook
and the&hellip;. Ga2.54 cmshes of ink
in my childish hand as I fumble
for some light in this.
{% include sqs-poem-end.html %}
