---
title: Anna Wagner
previous: /john-rosenwald-2/
next: /james-carpenter/
---

<h3 class="text-align-center">
    <strong>SELECTIONS FROM THE "MARTYR" SERIES</strong>
    <br />anna wagner
</h3>

{% include sqs-gallery-begin.html %}
<li><img src="{{ "/static1.squarespace.com/static/586c33401b631b210f7d6ac5/58a7346486e6c0df23bb5e0e/58a7346546c3c4267336c3e6/1487352938196/hearken.jpg" | relative_url }}"  alt="hearken.jpg"  /></li>
<li><img src="{{ "static1.squarespace.com/static/586c33401b631b210f7d6ac5/58a7346486e6c0df23bb5e0e/58a73465a5790a2c65bcd357/1487352937563/his_servant.jpg" | relative_url }}" alt="his_servant.jpg"  /></li>
<li><img src="{{ "/static1.squarespace.com/static/586c33401b631b210f7d6ac5/58a7346486e6c0df23bb5e0e/58a7346b1e5b6cf7fc9396d2/1487352942584/vision_of_god.jpg" | relative_url }}"  alt="vision_of_god.jpg"  /></li>
<li><img src="{{ "/static1.squarespace.com/static/586c33401b631b210f7d6ac5/58a7346486e6c0df23bb5e0e/58a7346959cc681635654e04/1487352942097/Revelation.jpg" | relative_url }}"  alt="Revelation.jpg"  /></li>
<li><img src="{{ "/static1.squarespace.com/static/586c33401b631b210f7d6ac5/58a7346486e6c0df23bb5e0e/58a73468ebbd1ae698a160c9/1487352940543/prayer.jpg" | relative_url }}"  alt="prayer.jpg"  /></li>
{% include sqs-gallery-end.html %}
