---
title: The Scaffold's Up the Building
author: Sarah McCann
previous: /issues/volume-two/volume-2-issue-1/the-squid/
next: /issues/volume-two/volume-2-issue-1/some-time-at-sea/
---

{% include sqs-poem-begin.html %}
High as the far is red,

high high in the far red,

and high in the red—

Morning trembles up the tunnel of treed sky.

A man trundles in from the turning
weather. Slowly ticking,
the barometer's guage-stick
a wisp of rust
always points to <em>changing</em>.

Always there is
something in the air like sea
and something just like air.

The lucky man with a thumb bleeding for sixteen years.
No iron to build the fence between skin and skin.
He is always on the mend.

If no opening, then no healing.
{% include sqs-poem-end.html %}
