---
title: Ida Gavois
---

<h3 class="text-align-center"><br /><strong>Ida Gavois</strong><br /><em>Selected Paintings</em><br /> </h3>

{% include sqs-gallery-begin.html %}
<li><img src="../static1.squarespace.com/static/586c33401b631b210f7d6ac5/589ea396db29d6b160f40b3e/589ea39f197aeac626cf3a5f/1486791593142/Ida.Gavois.6.jpg"  alt="Ida.Gavois.6.jpg"  /></li>
<li><img src="../static1.squarespace.com/static/586c33401b631b210f7d6ac5/589ea396db29d6b160f40b3e/589ea3a8ff7c50486de13525/1486791602196/Ida.Gavois.8.jpg"  alt="Ida.Gavois.8.jpg"  /></li>
<li><img src="../static1.squarespace.com/static/586c33401b631b210f7d6ac5/589ea396db29d6b160f40b3e/589ea397197aeac626cf3a2d/1486791583597/Ida.Gavois.2.jpg"  alt="Ida.Gavois.2.jpg"  /></li>
<li><img src="../static1.squarespace.com/static/586c33401b631b210f7d6ac5/589ea396db29d6b160f40b3e/589ea3976a49636c527a4e14/1488483386191/Ida.Gavois.4.jpg"  alt="Ida.Gavois.4.jpg"  /></li>
<li><img src="../static1.squarespace.com/static/586c33401b631b210f7d6ac5/589ea396db29d6b160f40b3e/589ea39e03596e1e0c96baa9/1486791593287/Ida.Gavois.5.jpg"  alt="Ida.Gavois.5.jpg"  /></li>
{% include sqs-gallery-end.html %}

</div></div><div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_4_1488398425995_10909"><div class="sqs-block-content"><hr /></div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-e7973314fa320c902e9f"><div class="sqs-block-content"><h3 class="text-align-center"><a href="../james-carpenter">&lt; previous</a>&nbsp; &nbsp; &nbsp;| &nbsp; &nbsp; &nbsp;<a href="../ann-arbor">next &gt;</a></h3></div></div></div></div></div>
