<p class="text-align-center">
    <em>Click the images to progress the series.</em>
</p>
</div>
</div>
<div class="sqs-block gallery-block sqs-block-gallery" data-block-json="&#123;&quot;hSize&quot;:null,&quot;floatDir&quot;:null,&quot;methodOption&quot;:&quot;transient&quot;,&quot;existingGallery&quot;:null,&quot;design&quot;:&quot;slideshow&quot;,&quot;aspectRatio&quot;:null,&quot;autoplay&quot;:false,&quot;controls&quot;:false,&quot;auto-crop&quot;:true,&quot;square-thumbs&quot;:true,&quot;thumbnails&quot;:false,&quot;show-meta&quot;:true,&quot;meta-position&quot;:&quot;bottom&quot;,&quot;show-meta-on-hover&quot;:false,&quot;collectionId&quot;:&quot;58b67db1b3db2b2b4cfd37b3&quot;,&quot;vSize&quot;:null,&quot;transientGalleryId&quot;:&quot;58b67db1b3db2b2b4cfd37b3&quot;&#125;" data-block-type="8" id="block-yui_3_17_2_11_1488053731535_5978"><div class="sqs-block-content">

<ol id="the-lark-gallery-container">
