---
title: When There is Mourning, Please Don&rsquo;t Knock on My Door
author: Annie Blake
previous: /issues/volume-two/volume-2-issue-1/answer-to-job/
next: /issues/volume-two/volume-2-issue-1/when-cairns-crumbled/
---

{% include sqs-poem-begin.html %}
don’t leave me cut flowers    they are dead too
i want to wrap my house around my body    congregations
are people sitting in stacks like bricks inside the ribs of a room
sometimes i want to take off my clothes
unrestrain my ego’s collars    undo my eyes like buttons
lie on god’s altar    for the chants of fire
to drip petals of blood    i dreamt they would turn yellow
rise in a rush    like spring confetti    in a tunnel
made from the burnt legs of trees
sometimes i don’t want to kneel down

public performance is an exsheathment    my mourning
is not for    funerals i see the concave cheeks of my morning curtain
sucking in the light
when my eyes wake up to the wall    it is the fingers
of trees    are they lashes or are they thorns
i don’t want to remember you with someone
i will never see again

i want to learn to touch my child through the lying stone
i need to find the door myself
my child doesn’t need wood or a photo
he is the earth in the earth
my body    inside the paint of plants and rock
i didn’t tell him he was going to die    he still stirs tinned fish
inside the sea

dying    is people in debris    scurrying like mice
down a wide flight of stairs    intersecting each other’s shadows
like knives    death is flying    it is the curtain breathing out light
like the belly of a balloon    it fills me like fertility does    knowing
the altar can be a spire    sculptured in the woods    the fire softening
the imprints of my fingers when i am cold

when i sink into the lake   let me breathe with gills    god is
the sand gurgling when water learns to mix with air
i don’t need to speak to you
you can feel my words renovating in my mouth    i don’t want
to hear anyone talk
the water from the lake is shattering like glass
{% include sqs-poem-end.html %}
