---
title: I Was Awakened by a Nearby Lightning Strike
author: Christine Potter
previous: /issues/volume-two/volume-2-issue-2/photographs/
next: /issues/volume-two/volume-2-issue-2/the-phantom-radio/
---

{% include sqs-poem-begin.html %}
and then a pow of thunder, none of that moody
long-grumbling stuff. The sound wave a skin-slap:
that close. A rock through the window of whatever
dream I was peering out of, half aware that God,
grown nostalgic for the old days when He was truly
badass, had chosen our well-meaning suburb to go
all in Old Testament: Screw the alert tone on your
damn phone! Head for the caves! But there weren’t
any caves, just bucketing rain, fire trucks, ambulances,
red and blue lights flickering down the street, an

algae-colored dawn. What’s wrong? Cedar trees wind-
jostled, torrent-bent, blocking the bedroom window.

A siren, my husband muttering himself back into his
blue jeans, our old cat howling at the stairwell. The
creek outside hollering SHHH! Our footbridge
underwater, but holding. So, not us. Not Us. The
emergency vehicles on their way to Someone Else,
who, I’d like to remind God, doesn’t deserve it either.
{% include sqs-poem-end.html %}
