---
title: "Oriental Oracles (2): East Idioms ReInterpreted."
author: Yuan Changming
previous: /issues/volume-two/volume-2-issue-2/evolution-towards-dataism/
next: /issues/volume-two/volume-2-issue-2/photographs/
---

{% include sqs-poem-begin.html %}
<em>1/ The Daoist Alchemist</em>

Instead of turning brass into gold or sand into diamonds, the alchemist refines soil, air
and sunlight into an immortality syrup. While gulping down the newly made elixir in a
hurry, he accidentally spills a few drops of the holy dew onto the ground, which his dogs,
cats and chickens struggle hard to lip at the first sight. As the alchemist launches himself
for a higher life in heaven, all the animals in his humble house thus begin to rise,
certainly underneath him.

<em>2/ The Guizhou Donkey</em>

The first of its kind that had ever appeared in the mountains of Guizhou, the donkey gave
a deep impression to all local animals at the beginning. Terror-stricken, even the tiger
came to pay his respect and offer his kingship to the newcomer, since he had such an
imposing statue as well as such a high-pitched voice. Later, the tiger found the donkey
capable of doing nothing other than kicking to defend himself or offend his enemy. With
this happy realization, the tiger tore the new king into pieces and ate him up the third time
he passed by
{% include sqs-poem-end.html %}
