---
title: The Squid
author: Sarah McCann
previous: /issues/volume-two/volume-2-issue-1/untitled-selection/
next: /issues/volume-two/volume-2-issue-1/the-scaffolds-up-the-building/
---

{% include sqs-poem-begin.html %}
The squid alternately hides
and makes herself known:
she draws a shawl
into the sea, lulls
in the funeral. In time,
with a small tilt,
she propels away
from the weeping lace:
it is night, even in the deep.
She lets out her swept
hem of long reds to flirt
in the downwelling starlight.
{% include sqs-poem-end.html %}
