---
title: To Court Unreality
author: Taylor Gray Moore
previous: /issues/volume-two/volume-2-issue-2/chasms/
next: /issues/volume-two/volume-2-issue-2/short-poem-written-at-cafe-noir-early-morning/
---

{% include sqs-poem-begin.html %}
He's asleep the next morning,
I'm stuck in the kind of limbo
I still pretend coffee will lift. I go to
the other room and open <em>The Cinnamon
Peeler</em> again. The coffee will go cold,
but fine. I know when I'm only pretending.

And when I come out for a second cup,
he’s still there on the couch—
last night, the nodded off waiting for me
to finish studying—but now slumped
in a different position.
He does not understand poetry.

I feel a moment
of guilt as I pass my hand
over his forehead,
the warmth of his skin, looking
for dark spots, and cracks
in the past, present, future

that a moment will forget
and another will remember.
{% include sqs-poem-end.html %}
