---
title: Dreaming the School to Ash
author: Jay Leeming
previous: /issues/volume-two/volume-2-issue-2/forty-five/
---

{% include sqs-poem-begin.html %}
In seventh grade when the buzzer went off
at the end of the day I’d always imagine

the school exploding room by room behind me
as I left, the flames filling classrooms

and corridors, devouring plastic chairs
and desks and thriving through the hallways

to char the lockers in which every morning
we hung our coats. It felt right

to picture that, just as it must have “felt
right” to that kid in the locker room

to punch me repeatedly in the upper
shoulder, making a bruise like a sour fruit

that ripened for days there under my shirt
where no one else could see. Just before I reached

home I’d imagine it again, one bright flash
and the building gone. That kid and I

didn’t know each other. I remember that he said
nothing the whole time but just kept pounding

his fist into my shoulder as I backed away.
{% include sqs-poem-end.html %}
