---
title: "shadowgraphs 128: oscillations in the trap"
author: Sean Howard
previous: /issues/volume-two/volume-2-issue-2/dawn-to-dusk-burntcoat-head-nova-scotia/
next: /issues/volume-two/volume-2-issue-2/currents-prose-poem/
---

<p style="text-align: center;"><strong>(poetry detected in wolfgang paul’s nobel physics lecture, 1989)</strong></p>

{% include sqs-poem-begin.html %}
<strong>i</strong>

‘screens’: <em>walking</em>
into the trap? (<em>seals</em> –
‘the ions will perform

harmonic oscillations&hellip;’)
physics, <em>the occupation that
goes with the territory</em>. (the

styx in the throat.) ‘alter-
nator’ – <em>bricklayer by
day, graffiti artist</em>

by&hellip;</em>


<strong>ii</strong>

‘subatomic’?
surely, micro-
<em>biology</em>! ‘clear

choice’: skinny-
dipping, ‘stud-
ying the curr-

ent’


<strong>iii</strong>

math’s
trap ease. (<em>the gulab archipela-
go</em>.) the <em>bon voy-
age</em> of reason –
paper boats, the

pocket liners&hellip;
lessons learnt
<em>without</em> hitt-

ing?


<strong>iv</strong>

god dead? well, the
crystal <em>has</em> melted! (
‘transition’, <em>the long

secular phase</em>.) ‘much
better’; in <em>cold</em> pursuit
&hellip; (indiscriminate pre-

cision.) ‘hurtling’ –
<em>the circumference
toward the cen-
tre</em>


<strong>v</strong>

applied science: ‘i-
onized’ fingers, elect-
rodes on ‘spheres’. (‘sta-

ges’; the jettisoned world
&hellip;) hunters’ blind; <em>an-
imals</em>, trapping the

light
{% include sqs-poem-end.html %}
