---
title: Selections from Patrolmen and Minor Fiction
previous: /issues/volume-one/volume-1-issue-3/cross-examination/
next: /issues/volume-one/volume-1-issue-3/softening/
---

<h3>
    <strong>SELECTIONS FROM <cite>PATROLMEN</cite> AND <cite>MINOR FICTION</cite></strong>
    <br />ESTEBAN PULIDO
</h3>

{% include sqs-gallery-begin.html %}
<li><img src="../../../../static1.squarespace.com/static/586c33401b631b210f7d6ac5/5a20efa5652deaf7d7bfe8cc/5a20efc40852299886fd0d14/1512107982352/volume-1-issue-3_pulido_patromen_05.jpg"  alt="volume-1-issue-3_pulido_patromen_05.jpg"  /></li>
<li><img src="../../../../static1.squarespace.com/static/586c33401b631b210f7d6ac5/5a20efa5652deaf7d7bfe8cc/5a20efabc8302566a3b726f8/1512107960106/volume-1-issue-3_pulido_minorfiction_03.jpg.jpg"  alt="volume-1-issue-3_pulido_minorfiction_03.jpg.jpg"  /></li>
<li><img src="../../../../static1.squarespace.com/static/586c33401b631b210f7d6ac5/5a20efa5652deaf7d7bfe8cc/5a20efb1652deaf7d7bfea4b/1512107967578/volume-1-issue-3_pulido_minorfiction_06.jpg"  alt="volume-1-issue-3_pulido_minorfiction_06.jpg"  /></li>
<li><img src="../../../../static1.squarespace.com/static/586c33401b631b210f7d6ac5/5a20efa5652deaf7d7bfe8cc/5a20efb624a694eb0d1ef4a5/1512107962986/volume-1-issue-3_pulido_patrolmen_01.jpg"  alt="volume-1-issue-3_pulido_patrolmen_01.jpg"  /></li>
<li><img src="../../../../static1.squarespace.com/static/586c33401b631b210f7d6ac5/5a20efa5652deaf7d7bfe8cc/5a20efc153450a77d2faefbf/1512108046944/volume-1-issue-3_pulido_patromen_04.jpg.jpg"  alt="volume-1-issue-3_pulido_patromen_04.jpg.jpg"  /></li>
<li><img src="../../../../static1.squarespace.com/static/586c33401b631b210f7d6ac5/5a20efa5652deaf7d7bfe8cc/5a20efba24a694eb0d1ef519/1512107971229/volume-1-issue-3_pulido_patrolmen_02.jpg"  alt="volume-1-issue-3_pulido_patrolmen_02.jpg"  /></li>
{% include sqs-gallery-end.html %}
