---
title: To Paul Celan with a Variable Key
author: Lisa Roney
previous: /issues/volume-two/volume-2-issue-1/some-time-at-sea/
next: /issues/volume-two/volume-2-issue-1/selections-from-america/
---

{% include sqs-poem-begin.html %}
Keys are gaps, unknown, unfriendly
therefore. You vary the key, but I only
vary the word, not entirely free to
drift with the snowflakes. Perhaps
with the sleet driven into the ground,
perhaps with your blood spewed across
the panes of glass in the locked door
of keys. Notable keys.

         You, over-turn my beat-heart, up-
turned behind that locked door. The snowball

contains stone, thumps loudly, draws
red streams from the forehead, knocks
between your ribs, smells nothing
like an apple turn-over or a blood red
heart-beat. Turn it up: the wind at the door
of the unspoken house, the musical
pounding. A flag waves from your eye.
From mine there is an unbelieving blink.
       He is not there, not polished
in marble, not in tune, not now.
{% include sqs-poem-end.html %}
